# You must set some working options before the "spawn-fcgi" service will work.
# If SOCKET points to a file, then this file is cleaned up by the init script.
#
# See spawn-fcgi(1) for all possible options.
#
# $prog (binary name) must be set in the init script.

FCGI_SERVER_BINARY=/usr/local/bin/$prog
STATISTICS_DIR=/path/to/the/folder/for/big/daily/files/with/statistics/data
MONITORING_URI=/custom/url/to/http/post/and/receive/echo/response
ERROR_LOG=/path/to/server/error/log/$prog.log
SOCKET=/var/run/$prog.socket
PID_FILE=/var/run/$prog.pid
OPTIONS="-P $PID_FILE -s $SOCKET -M 0777 -- $FCGI_SERVER_BINARY $STATISTICS_DIR $MONITORING_URI $ERROR_LOG"
